


/* Header-Section */

.header{
  display: block;
  margin-bottom: 20px;
}

.search-bar {
  font-size: 20px;
  margin-left: 12px;
  padding: 10px;
}

/* Video-Grid */

.video-grid {
  border: solid 2px blue;
}

.video-card {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  border: solid 2px red;
}

.video-title {
  font-weight: bold;
}

.video-author{
  margin-bottom: 1px;
  color: rgb(96,96,96);
}

.video-stats {
  margin-top: 1px;
  color: rgb(96,96,96);

}

.thumbnail {
  width: 300px;
  height: 200px;
  display: block;
  object-fit: cover;
}

/* Side-bar */